<h1>Showing Category Details</h1>
<p id="notice" style="color:green;"><%= notice %></p>
<p id="alert" style="color:red;"><%= alert %></p>

<p>
  <strong>Title:</strong>
  <%= @category.name %>
</p>

<p>
  <%= render 'sessions/login_footer' %>
</p>